/*line-height: 用來設定文字的行高，其中設定的值多以數值為主，使用關鍵字則是使用通用關鍵字，
  像是「normal、inherit、initial、unset」這些。
  line-height數值的值可以使用的有以下這幾種:
    px (像素) 
    % (百分比) 
    純數字(含小數點) 
    em
  300%=3em=3*/


#lineheight-px {/*px*/
    line-height: 40px;
    background-color: aqua;
}

#lineheight-percent {/*倍數*/
    line-height: 300%;
    /*line-height: 3em;*/
    /*line-height: 3;*/
    background-color:chartreuse;
}
