/*letter-spacing: 用來控制字元間距的屬性，使用數值單位或關鍵字normal
  word-spacing: 用來設定空白字元的尺寸，其中設定的值有關鍵字與數值，數值可以為負數

  letter-spacing 字元間距控制 (每個字之間的距離控制)
  word-spacing 單字間距控制 (每個單字之間空白區的大小控制)
  white-space 空白區域處理*/


#letterspacing {
  letter-spacing: 1em;
}

#wordspacing {
  word-spacing: 30px;
}

/*direction: 用來控制inline物件排列的方向，只要它具有inline的特性，就會受到影響，
  並且這個屬性預設是繼承的，direction可以接受的值有:
    ltr (左到右)
    rtl (右到左)
    inherit
    initial
    unset
  語言文字本身就不是由右至左的話，那麼縱使設定了direction: rtl，他依舊會按照原始的由左至右的排列方式
  排列順序改變，適合交錯式版面*/


.direction-rtl {
  direction: rtl;
}